@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* seção video-container */

.video-container {
  width: 100%;
  height: 1360px;
  background-image: url('./assets/background-initial.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.modal {
  width: 100%;
  height: 1360px;
  background-image: linear-gradient(180deg, #51003B 0%, #004388 100%);
  opacity: 0.8;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
}

.video-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  position: relative;
  z-index: 1;
}

.video-content-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.logo {
  width: 135px;
  height: auto;
}

.video-content-title {
  width: 100%;
  padding: 0 310px;
}

.video-content-title h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 0;
}

.video-content-paragraph {
  width: 100%;
  padding: 0 370px;
  margin-bottom: 25px;
}

.video-content-paragraph p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.video-content-span {
  width: 100%;
  padding: 0 350px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.video-content-span span {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.video {
  width: 100%;
  padding: 0 390px;
}

.video div {
  width: 100%;
  height: 400px;
  background-color: #004388;
  margin-bottom: 20px;
  cursor: pointer;
}

.video-content-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.video-content-description span {
  font-size: 19px;
  font-weight: 400;
}

.video-content-description i {
  margin-right: 5px;
}

#volume-message {
  font-weight: 400;
  font-size: 16px;
}

.button-description {
  width: 100%;
  padding: 0 300px;
  margin: 80px 0 40px 0;
}

.button-description p {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.button-link {
  font-family: "Poppins", Sans-serif;
  font-size: 27px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  background-image: linear-gradient(150deg, #481FC2 0%, #540079 100%);
  border-radius: 44px;
  box-shadow: 0px 0px 48px 1px #000;
  padding: 15px 20px;
  margin-bottom: 60px;
}

.arrow-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-icon i {
  font-weight: 400;
  font-size: 2.5rem;
}