@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* seção video-container */

.video-container {
  width: 100%;
  height: 1360px;
  background-image: url('./assets/background-initial.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.modal {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #51003B 0%, #004388 100%);
  opacity: 0.8;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
}

.video-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  position: relative;
  z-index: 1;
}

.video-content-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.logo {
  width: 135px;
  height: auto;
}

.video-content-title {
  width: 100%;
  padding: 0 310px;
}

.video-content-title h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 0;
}

.video-content-paragraph {
  width: 100%;
  padding: 0 370px;
  margin-bottom: 25px;
}

.video-content-paragraph p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.video-content-span {
  width: 100%;
  padding: 0 350px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.video-content-span span {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.video {
  width: 100%;
  padding: 0 390px;
}

.video div {
  width: 100%;
  height: 400px;
  background-color: #004388;
  margin-bottom: 20px;
  cursor: pointer;
}

.video-content-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.video-content-description span {
  font-size: 19px;
  font-weight: 400;
}

.video-content-description i {
  margin-right: 5px;
}

#volume-message {
  font-weight: 400;
  font-size: 16px;
}

.button-description {
  width: 100%;
  padding: 0 300px;
  margin: 80px 0 40px 0;
}

.button-description p {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.button-link {
  font-family: "Poppins", Sans-serif;
  font-size: 27px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  background-image: linear-gradient(150deg, #481FC2 0%, #540079 100%);
  border-radius: 44px;
  box-shadow: 0px 0px 48px 1px #000;
  padding: 15px 20px;
  margin-bottom: 60px;
}

.arrow-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-icon i {
  font-weight: 400;
  font-size: 2.5rem;
}

/* seção programmers-salary */

.programmers-salary {
  width: 100%;
  height: 550px;
  background-image: url('./assets/background-programmers-salary.jpeg');
  background-position: 0 -448px;
  background-size: cover;
}

.programmers-salary-container {
  width: 100%;
  height: 100%;
  padding: 100px 33px 0 33px;
  position: relative;
  z-index: 1;
}

.programmers-salary-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.average-wage-title-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.average-wage-title {
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 0.7px;
  display: flex;
  flex-direction: column;
  margin: 0 40px 100px 0;
}

.average-wage-dashboard {
  width: 50%;
  height: 100%;
  padding: 15px 200px 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.average-wage {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.average-wage span {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.average-wage p {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
}

#average-wage-about {
  height: 40px;
}

#about-the-research {
  color: #8D8D8D;
  font-size: 11px;
  font-weight: 500;
}

.salary-bar {
  width: 100%;
  height: 12px;
  background-color: #000;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-image: linear-gradient(80deg, #3A005D 0%, #7736AD 83%);
}

#progress-junior {
  width: 59%;
}

#progress-pleno {
  width: 81%;
}

#progress-senior {
  width: 94%;
}

/* seção benefits */

.benefits {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.benefits-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.benefits-container h1 {
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 15px;
}

.benefits-container p {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 0.7px;
  margin-bottom: 100px;
}

.vacant-job {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

.vacant-job i {
  font-size: 91px;
  font-weight: 700;
  color: #D0C8D8;
}

.vacant-job-description {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 70px;
}

#vacant-job-description-span1 {
  font-size: 22px;
  font-weight: 700;
}

#vacant-job-description-span2 {
  font-size: 19px;
  font-weight: 400;
}

#vacant-job-description-span3 {
  font-size: 19px;
  font-weight: 700;
}

/* seção about */

.about {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.about-container {
  width: 100%;
  height: 410px;
  display: flex;
  padding: 0 84px;
}

.gift-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}

.gift-container span {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
}

.gift-container-h1 {
  width: 100%;
  padding-right: 160px;
  margin-bottom: 30px;
}

.gift-container-h1 h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
}

.gift-container img {
  width: 100%;
  max-width: 486px;
  height: 266px;
  height: auto;
  border-radius: 11px;
  box-shadow: 0px 0px 10px 7px rgba(103, 10, 122, 0.5);
}

.about-text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.about-text-paragraph {
  width: 100%;
  padding-right: 200px;
  margin-bottom: 30px;
}

.about-text-paragraph p {
  font-size: 19px;
  line-height: 25px;
}

.about-text-span {
  width: 100%;
  padding-right: 200px;
}

.about-text-span span {
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
}

.about-icons-container {
  width: 100%;
  height: 150px;
  padding: 0 84px;
}

.about-icons-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.about-icons i {
  font-weight: 900;
  font-size: 50px;
  margin-right: 30px;
}

.about-icons span {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

#icon1 {
  padding: 0 30px;
}

#icon2 {
  padding: 0 30px;
}

#icon3 {
  padding: 0 30px;
}

/* seção programming-universe */

.programming-universe {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.programming-universe-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.programming-universe-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programming-universe-text span {
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.programming-universe-text h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.programming-universe-img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 220px;
}

.programming-universe-img img {
  width: 100%;
  height: auto;
}

.programming-universe-paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 20px;
}

.programming-universe-paragraph span {
  font-size: 19px;
}

/* seção simplification */

.simplification {
  width: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.simplification-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.simplification-container h1 {
  font-size: 39px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: 900;
}

.simplification-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.simplification-img img {
  width: 55%;
  height: auto;
  border-radius: 49px;
  box-shadow: 0px 0px 10px 4px rgba(116, 116, 116, 0.5);
}

.simplification-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px 0 150px 0;
}

.simplification-description span {
  font-size: 19px;
  color: #f4f4f4;
}

.toggles {
  width: 100%;
  display: flex;
  column-gap: 15px;
}

.toggles i {
  font-size: 25px;
  color: #D0C8D8;
}

.toggles span {
  font-size: 19px;
  font-weight: 700;
  color: #f4f4f4;
}

.simplification-container-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.simplification-container-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 800;
  background-color: transparent;
  background-image: linear-gradient(150deg, #481FC2 0%, #540079 100%);
  border-radius: 40px;
  box-shadow: 0px 0px 48px 1px #000000;
  padding: 15px 20px;
}

/* seção projects */

.projects {
  width: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.projects-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.projects-text {
  width: 100%;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 80px;
}

.projects-text h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 900;
}

.projects-text span {
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
}

.projects-content {
  width: 100%;
  height: 250px;
  display: flex;
  margin-bottom: 70px;
}

.project-img {
  width: 50%;
  box-shadow: 0px 4px 36px 0px rgba(154.5, 65.98, 65.98, 0.5);
}

.project-description {
  width: 50%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.project-description p {
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
}

.project-description span {
  font-size: 19px;
  font-weight: 700;
}

#project2 {
  flex-direction: row-reverse;
}

#project2-description {
  align-items: flex-start;
  padding: 0 30px 0 0;
}

#project3-img {
  box-shadow: 0px 12px 29px 0px rgba(128, 174.75, 154.49, 0.5);
}

/* seção fullstack-professional */
/* 
.fullstack-professional {
  width: 100%;
  background-image: url('./assets/background-fullstack-professional.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  padding: 90px 80px 0px 80px;
  filter: brightness(0.25);
  position: relative;
} */

.fullstack-professional {
  position: relative;
  width: 100%;
  padding: 90px 80px 0;
}

.fullstack-professional::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./assets/background-fullstack-professional.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(0.20);
}

.fullstack-professional-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.fullstack-professional-container h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

#fullstack-professional-h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
}

.fullstack-professional-container h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.fullstack-professional-container span {
  font-size: 18.5px;
  font-weight: 400;
  margin-bottom: 30px;
}

.fullstack-professional-container h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.fullstack-professional-container i {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 30px;
}

.fullstack-professional-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 800;
  background-color: transparent;
  background-image: linear-gradient(150deg, #481FC2 0%, #540079 100%);
  border-radius: 40px;
  box-shadow: 0px 0px 48px 1px #000000;
  padding: 15px 20px;
  margin-bottom: 60px;
}